<div class="app-container">
  <div class="header">
    <h1>Dynamic Form Renderer</h1>
  </div>

  @if(formSchemas?.length > 0) {
  <div class="form-selector">
    @for(form of formSchemas; track $index){
    <button
      [class.active]="selectedForm.title === form.title"
      (click)="selectedForm = form"
    >
      {{ form.title }}
    </button>
    }
  </div>

  <div class="form-container">
    <app-form-renderer
      [schema]="selectedForm"
      (onSubmit)="onFormSubmit($event)"
    >
    </app-form-renderer>
  </div>
  } @else {
  <div class="loading">
    <div class="spinner"></div>
    <p>Loading forms, please wait...</p>
  </div>
  }
</div>
