* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
  background: #f0f2f5;
  min-height: 100vh;
  padding: 1rem;
  color: #333;
}

html,
body {
  height: 100%;
}

app-root {
  display: block;
}
